<div class="jumbotron">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-2" for="student">Student:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" #student id="student" placeholder="Enter student name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" (click)="oneStudent(student.value)" class="btn btn-default">info student</button>
        <p></p>
        <button type="button" (click)="allStudents()" class="btn btn-default">all students</button>
      </div>
    </div>
  </form>
  <h2>Information</h2>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Subjects</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student['name'] }}</td>
        <th>{{ student['age'] }}</th>
        <ng-container *ngFor="let subject of student['subjects']">
        <th>{{ subject['name']}} - {{subject['course']}}</th>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>
