.form-welcome{
    max-height: 550px;
    max-width: 950px;
    min-width: 430px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.form-welcome .nav-tabs .nav-item {
    margin-bottom: -4px;
}

div.company-title{
    text-align: center;    
}

div.input-form{
    margin-bottom: 10px;
}